@page "/augustan"

<PageTitle>Civica - Augustan Age</PageTitle>

<h1>Augustan Age</h1>


<div class="article">
    <p>
        In questa sezione parleremo del tempi Augusto, ovvero nel XVII, nel quale c'erano due parti politiche rivali: i Tories e Whigs.
Gli Whigs volevano un Parlamento forte, con un Re e la religione cattolica.
iniziarono come gruppi di persone con le stesse idee e si divisero nel 1784.
Contrariati ai Tories che erano fortemente monarchici, sostenitori della chiesa anglicana e a
favore delle industrie dalle quali raccoglievano voti.
    </p>
</div>