@page "/donne"

<h1>Rispetto delle donne</h1>

<div class="article">
    Durante l'arco dei 5 anni abbiamo affrontato numerose volte il tema sul rispetto delle donne. <br>
    Abbiamo riflettuto e argomentato i molteplici accaduti di questi anni per quanto riguarda la violenza, lo sfruttamento e i diritti delle donne.
</div>