@page "/gulag"

<PageTitle>Civica - Gulag Sovietici</PageTitle>

<h1>Gulag Sovietici</h1>

<div class="article" wr>

    Aleksandr Isaevič Solženicyn scrive delle lettere dove scriticava la politica di Stalin e proprio a causa di esse viene arrestato nel 45 e trasferito in prigione.
    Nel frattempo raccoglie per 8 anni appunti a favore delle sue tesi e gli viene anche dato un premio nobel per la letteratura. 
    <br>
    Nel 2000 Solženicyn torna in Russia, facendo un discorso con Putin, prima di morire nel 2008.

    <br>
    I gulag erano campi di lavoro forzati, fornivano manodopera per la pubblica amministrazione. 
    Nel 1928 i gulag contentevano in totale 30 mila persone, 1930 2 milioni fino ad arrivare oltre ai 6 milioni nel 1936. 

    <br>
    Uomini, donne e bambini all'interno dei Gulag erano tutti occupati nella realizzazione di opere pubbliche e non. Probabilmente fino alla morte di stalin nel 1953 ci furono oltre a 20 milioni di morti.
    Costruivano canali, dighe, erano impagnati nei lavori più faticosi ed umili. I bambini eralizzarono disegni, che rappresentavano la vita all'interno dei Gulag. 

    <br>
    Il governo fece vedere al popolo i Gulag come una cosa voluta dai prigionieri perchè volevano lavorare, mentre i disegni facevano vedere che non era così è che fu tutta
    una scusa per raccogliere più schiavi possibili. 


</div>
