@page "/"

<PageTitle>Civica - Home</PageTitle>

<h1>Educazione civica</h1>

<i>Un lavoro di Lorenzo Rizzolo</i>


<div class="article">

    <p>
        In questo progetto presenterò i miei lavori di educazione civica svolti durante gli anni all'Istituto Edoardo Agnelli di Torino.
    </p>
    <p>
        Questo progetto è stato realizzato con un moderno framework chiamato <b>Blazor</b> che è molto rapito e pratico.
    </p>

</div>