@page "/peppino"

<PageTitle>Civica - Peppino Impastato</PageTitle>

<h1>Peppino Impastato</h1>

<div class="article">
    Giuseppe Impastato, detto Peppino, nasce il 5 gennaio del 1948 a Cinisi, in provincia di Palermo, da una famiglia mafiosa: il cognato di suo padre, per esempio, è il boss Cesare Manzella (coinvolto nel traffico di droga e che sarà ucciso negli anni Sessanta in un agguato).
Anche il padre di Giuseppe è coinvolto nella criminalità (durante il periodo fascista era stato spedito al confino), e proprio per questo i due rompono presto: Giuseppe, quindi, ancora ragazzo viene cacciato di casa.
Mentre frequenta il liceo classico di Partinico, nel 1965 aderisce al Psiup (Partito Socialista Italiano di Unità Proletaria) e fonda il giornalino "L'idea socialista": su questa pubblicazione racconta, tra l'altro, la Marcia della protesta e della pace voluta da Danilo Dolci nel 1967.
"L'idea socialista", tuttavia, viene sequestrato dopo pochi numeri; successivamente Peppino Impastato lascia il Psiup, in seguito allo scioglimento della Federazione Giovanile, e inizia a collaborare come dirigente con i gruppi comunisti locali, occupandosi - tra l'altro - delle battaglie dei disoccupati, degli edili e soprattutto dei contadini, che si vedono privati dei loro terreni per favorire la realizzazione della terza pista dell'aeroporto di Palermo proprio a Cinisi.
</div>

<div class="article">
    <h2>Sul finire degli anni '60</h2>
    Nel 1968 prende parte alle prime occupazioni e alle lotte studentesche, ma senza una concreta convinzione, e in seguito aderisce alla Lega, gruppo marxista - leninista.
All'inizio degli anni Settanta gli viene proposto di trasferirsi al Cantiere Navale a Palermo, ma rifiuta; per qualche tempo consuma alcol in maniera eccessiva, ma torna in sé nella primavera del 1972. In quel momento aderisce alla proposta del gruppo del "Manifesto", desideroso di godere di garanzie istituzionali, ma la sconfitta elettorale lo getta nuovamente nello sconforto.
Nell'autunno dello stesso anno Peppino Impastato aderisce al Circolo Ottobre di Palermo, contribuendovi in maniera attiva, e poco dopo si avvicina a "Lotta Continua": dopo avere conosciuto Mauro Rostagno, prende parte alla maggior parte delle riunioni dei quadri dell'organizzazione.
</div>

<div class="article">
    <h2>Radio, musica, cultura e la denuncia della mafia</h2>
    Nel 1975 Impastato fonda Musica E Cultura, gruppo che si occupa di teatro, musica, cineforum e dibattiti culturali, diventando nel giro di breve tempo un punto di riferimento molto importante per i ragazzi di Cinisi: vi trovano spazio, tra l'altro, il Collettivo Antinucleare e il Collettivo Femminista.
Pochi mesi dopo, Giuseppe dà vita a Radio Aut, una radio libera autofinanziata attraverso la quale egli denuncia gli affari e i delitti dei mafiosi del posto, di Cinisi e Terrasini (che tramite il controllo dell'aeroporto ricoprono un ruolo molto importante nell'ambito degli scambi di droga e dei traffici internazionali di sostanze stupefacenti), e in particolare del capomafia Gaetano Badalamenti: la trasmissione più seguita si chiama "Onda pazza", impreziosita da uno stile satirico che prende in giro politici e malaffare.
</div>

<div class="article">
    <h2>La politica in prima persona</h2>
    Nel 1978 Peppino Impastato decide di candidarsi alle elezioni comunali del suo paese nella lista di Democrazia Proletaria; poco prima delle elezioni, si occupa dell'esposizione di una mostra fotografica che documenta la devastazione del territorio locale messa in atto da gruppi mafiosi e speculatori.
</div>

<div class="article">
    <h2>L'assassinio</h2>
    A soli trent'anni, nella notte tra l'8 e il 9 maggio di quell'anno, Giuseppe Impastato viene assassinato: il suo corpo viene martoriato da una carica di tritolo collocata lungo i binari della ferrovia di Cinisi, che congiunge Palermo a Trapani. Con il suo cadavere, però, viene inscenato un attentato, in modo tale da fare apparire Peppino Impastato come un attentatore suicida, ma ciò non basta a compromettere la reputazione e l'immagine di Impastato, che infatti pochi giorni dopo, in occasione delle votazioni, viene simbolicamente eletto al Consiglio comunale.
Benché la morte di Giuseppe a livello nazionale passi quasi inosservata a causa della concomitanza con il ritrovamento del corpo senza vita di Aldo Moro a Roma, successivamente l'impegno di sua madre Felicia e di suo fratello Giovanni farà sì che l'inchiesta sul suo decesso (inizialmente archiviato con una certa fretta come suicidio) venga riaperta: nel 1984 l'Ufficio Istruzione del Tribunale di Palermo riconoscerà l'origine mafiosa dell'omicidio.
All'inizio degli anni Duemila, per l'omicidio di Giuseppe Impastato, Vito Palazzolo viene condannato a trent'anni di reclusione, mentre Gaetano Badalamenti viene condannato all'ergastolo.
</div>