<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Civica</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <h3 class="title">Articoli</h3>

        @foreach (var article in list_articles){
            <div class="nav-item px-3">
                <NavLink class="nav-link" href=@article.Key>
                    <civica.Pages.Icon name="article" /> @article.Value
                </NavLink>
            </div>
        }
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    Dictionary < string, string > list_articles = new Dictionary < string, string > (){
        { "/covid", "Covid"},
        { "/crescere", "Crescere onesti cittadini" },
        { "/augustan", "Augustan Age" },
        { "/cyber", "Cyber Security" },
        { "/manicomi", "Manicomi" },
        { "/paolo", "Paolo Borsellino" },
        { "/pena", "Pena di morte" },
        { "/campigiappone", "Campi Giapponesi" },
        { "/donne", "Rispetto delle donne" },
        { "/peppino", "Peppino Impastato" }
    };
}

<style>
    .title{
        color: white;
        margin-left: 30px;
        margin-top: 20px;
    }
</style>
